* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    min-height: 9vh;
    padding: 0 10%;
    font-family: 'Roboto', sans-serif;
}

.logo {
    color: white;
    font-size: 25px;
    margin-right: auto;


    background-image:linear-gradient(90deg,#f7c626,#e2127A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo:hover {
    background-image:linear-gradient(90deg,#e2127A, #f7c626);
}



.nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45vw;
}

.nav-links a {
    color: white;
    font-size: 20px;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-links li {
    list-style: none;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    border-radius: 2px;
    transition: 400ms;
}

@media screen and (max-width: 1024px) {
    .nav-links {
        width: 50%;
    }
}

@media screen and (max-width: 650px) {
    body {
        overflow-x: hidden;
    }

    .navbar {
        padding: 0 15%;
    }

    .nav-links {
        position: absolute;
        right: 0px;
        height: 91vh;
        top: 9vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        width: 40vw;
        transform: translateX(100%);
        transition: 400ms ease-out;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .nav-active {
        transform: translateX(0%);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
    background-color: #e2127A;
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
    background-color: #e2127A;
}



/* Hover Over Effects */
.nav-links li:hover {
    background-image:linear-gradient(90deg,#f7c626,#e2127A);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px)
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
